apiVersion: "v1"
kind: "ReplicationController"
metadata:
  name: hawkular-metrics
  labels:
    metrics-infra: hawkular-metrics
    name: hawkular-metrics
spec:
  selector:
    name: hawkular-metrics
  replicas: 1
  template:
    version: v1
    metadata:
      name: hawkular-metrics
      labels:
        metrics-infra: hawkular-metrics
        name: hawkular-metrics
    spec:
      serviceAccountName: hawkular-metrics
      containers:
      - name: hawkular-metrics
        image: {{image_prefix}}metrics-hawkular-metrics:{{image_version}}
        ports:
        - containerPort: 8080
          name: "http-endpoint"
        - containerPort: 8443
          name: "https-endpoint"
        command:
        - "/opt/hawkular/scripts/hawkular-metrics-wrapper.sh"
        - "-b"
        - 0.0.0.0
        - "-Dhawkular-metrics.cassandra-nodes=hawkular-cassandra"
        - "-Dhawkular-metrics.cassandra-use-ssl"
        - "-Dorg.apache.tomcat.util.buf.UDecoder.ALLOW_ENCODED_SLASH=true"
        - "-Dorg.apache.catalina.connector.CoyoteAdapter.ALLOW_BACKSLASH=true"
        - "-Dhawkular-metrics.openshift.auth-methods=openshift-oauth,htpasswd"
        - "-Dhawkular-metrics.openshift.htpasswd-file=/secrets/hawkular-metrics.htpasswd.file"
        - "-Dhawkular.metrics.allowed-cors-access-control-allow-headers=authorization"
        - "-Dhawkular.metrics.default-ttl={{metrics_duration}}"
        - "-DKUBERNETES_MASTER_URL={{master_url}}"
        - "-DUSER_WRITE_ACCESS={{hawkular_user_write_access}}"
        - "--hmw.keystore=/secrets/hawkular-metrics.keystore"
        - "--hmw.truststore=/secrets/hawkular-metrics.truststore"
        - "--hmw.keystore_password_file=/secrets/hawkular-metrics.keystore.password"
        - "--hmw.truststore_password_file=/secrets/hawkular-metrics.truststore.password"
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        volumeMounts:
        - name: hawkular-metrics-secrets
          mountPath: "/secrets"
        - name: hawkular-metrics-client-secrets
          mountPath: "/client-certs"
        readinessProbe:
          exec:
            command:
            - "/opt/hawkular/scripts/hawkular-metrics-readiness.py"
        livenessProbe:
          exec:
            command:
            - "/opt/hawkular/scripts/hawkular-metrics-liveness.py"
      volumes:
        - name: hawkular-metrics-secrets
          secret:
            secretName: hawkular-metrics-secrets
        - name: hawkular-metrics-client-secrets
          secret:
            secretName: hawkular-metrics-account
