apiVersion: v1
kind: Secret
metadata:
  name: heapster-secrets
  labels:
    metrics-infra: heapster
data:
  heapster.cert: {{ cert }}
  heapster.key: {{ key }}
  heapster.client-ca: {{ client_ca }}
  heapster.allowed-users: {{ allowed_users }}
