apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{obj_name}}
  labels:
    logging-infra: support
{% if annotations %}
  annotations:
{% for key,value in annotations.iteritems() %}
    {{key}}: {{value}}
{% endfor %}
{% endif %}
spec:
  accessModes:
{% for mode in access_modes %}
    - {{ mode }}
{% endfor %}
  resources:
    requests:
      storage: {{size}}
