apiVersion: "v1"
kind: "Service"
metadata:
  name: "{{service_name}}"
  labels:
    logging-infra: support
spec:
{% if service_targetPort is undefined %}
  clusterIP: "None"
{% endif %}
  ports:
  -
    port: {{service_port}}
{% if service_targetPort is defined %}
    targetPort: {{service_targetPort}}
{% endif %}
selector:
    provider: "openshift"
    component: "{{service_component}}"
